body { background-color:bisque;
    color: black;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
   }
h1 {
    font-size:x-large;
    font-weight: bold;
    color:black;
}
  