body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: medium;
        background-color: aliceblue;
        color: black;
    }
input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border: groove 2px plum;
    }
select{
    border: groove plum 2px;
    font-family: Arial, Helvetica, sans-serif
}
fieldset{
    border: groove plum 2px;
}